{% extends 'store/base.html' %}

{% block title %}
Mentions Legales
{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="barre">
        <div class="h2">Mentions légales</div>
    </div>
    <div class="mt-4">
        <h3>1. Présentation générale</h3>
        <p>Vous êtes actuellement connecté au site ” https://www.FloStore.com ” édité par la société FloStore.</p>
        <p><strong>Dénomination sociale :</strong></p>
        <p>FloStore<br>11 Rue du Général de Gaulle<br>62138, Billy-Berclau – France<br>N° identification TVA en Europe : FR 49 265 694 458<br>Registre du commerce RCS : Béthune B 524 898 360</p>
        <p><strong>Hébergement : FloStore</strong></p>
        <p>L’éditeur s’engage à respecter l’ensemble des lois concernant la mise en place et l’activité d’un site Internet.</p>
        <h3>2. Informations techniques</h3>
        <p>Il est rappelé que le secret des correspondances n’est pas garanti sur le réseau Internet et qu’il appartient à chaque utilisateur d’Internet de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels de la contamination d’éventuels virus circulant sur Internet.</p>
        <h3>3. Contenu du site – Charte éditoriale</h3>
        <p>Le site " https://www.FloStore.com " est un site de vente de produits High-Tech, Informatique et des services proposés par FloStore. Il est renseigné de manière manuelle.</p>
        <h3>4. Données personnelles</h3>
        <p>Les informations que vous saisirez seront enregistrées par FloStore. Elles seront analysées et transmises aux différents services concernés pour leur prise en charge. Elles pourront en outre, être utilisées par FloStorepour des sollicitations commerciales internes à FloStore. Si vous ne le souhaitez pas, veuillez nous le signifier en écrivant à l’adresse précisée ci-après. Vous disposez d’un droit d’accès, de modification, de rectification et de suppression concernant les données collectées sur ce site, dans les conditions prévues par la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés. Pour l’exercer, adressez-vous par courrier électronique au gestionnaire du site, à l’adresse suivante :<strong>Info@FloStore.com</strong></p>
        <h3>5. Liens hypertextes</h3>
        <p>La création de liens hypertextes vers le site ” https://www.FloStore.com ” est soumis à l’accord préalable du service Web Marketing. Les liens hypertextes établis en direction d’autres sites à partir de ” https://www.FloStore.com ” ne sauraient, en aucun cas, engager la responsabilité de FloStore.</p>
        <h3>6. Droits d’auteurs</h3>
        <p>La reproduction ou représentation, intégrale ou partielle, des pages, des données et de toute autre élément constitutif au site, par quelque procédé ou support que ce soit, est interdite et constitue sans autorisation de l’éditeur une contrefaçon.</p>
    </div>  
</div>
{% endblock %}